/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-font-family: 'ubuntu';
	 -fx-font-size: 18px;
	
}
#label {
	-fx-background-color:  #ECEAE0;
	-fx-font-size: 60px;
	
}
.button {
	-fx-background-color: #63AA9C ;
	-fx-font-size: 16px;
}

#areatexto {
	 
	-fx-font-size: 14px;
	-fx-font-family: "monospace";
	-fx-border-color: #63AA9C;
	-fx-border-width: 3px;
}

#botonadd {
	-fx-background-color: lightgray  ;
	
}

#botonsalir {
	-fx-background-color: rgb(179,26,26)  ;
	-fx-text-fill:  white;
	
}


.button2D {
    -fx-font-size: 24px  ;
    -fx-padding: 10;
    -fx-background-color: burlywood ;
    -fx-text-fill: #2F4F4F ;
    -fx-font-weight: bold;
}

.button2Dsombreado {
         
    -fx-background-color: rgb(226,177,194)  ;
     
}